OUTPUT_DIRECTORY = doc/doxygen

GENERATE_LATEX = NO

#GENERATE_XML = YES
#XML_OUTPUT = xml

GENERATE_HTML = YES
HTML_OUTPUT = html

GENERATE_TAGFILE = doc/doxygen/voxie.tag


INPUT = src pythonlib filters scripts
FILE_PATTERNS = *.c *.cc *.cxx *.cpp *.c++ *.h *.hh *.hxx *.hpp *.h++ *.cs *.py *.pyw
RECURSIVE = YES

EXCLUDE = src/PluginExample/tinyply.hpp src/PluginExample/tinyply.cpp src/Voxie/lib/CL/cl-patched.hpp filters/importMinecraftLevel.nbt


QUIET = YES


PROJECT_NAME = "Voxie"
PROJECT_LOGO = src/Main/icons-voxie/voxel-data-32.png

# Tabs should not be used at all
#TAB_SIZE = 8

BUILTIN_STL_SUPPORT = YES

EXTRACT_ALL = YES
EXTRACT_PRIVATE = YES
EXTRACT_PACKAGE = YES
EXTRACT_STATIC = YES
EXTRACT_LOCAL_CLASSES = YES
EXTRACT_LOCAL_METHODS = YES
EXTRACT_ANON_NSPACES = YES
INTERNAL_DOCS = YES
WARN_IF_UNDOCUMENTED = NO

GENERATE_TODOLIST = NO

SOURCE_BROWSER = YES

#USE_MDFILE_AS_MAINPAGE = README

#USE_MATHJAX = YES
#MATHJAX_RELPATH = http://cdn.mathjax.org/mathjax/latest

#TAGFILES = /usr/share/doc/gcc-4.8-base/libstdc++/user/libstdc++.tag=/usr/share/doc/gcc-4.8-base/libstdc++/user

#ENABLE_PREPROCESSING = YES
#MACRO_EXPANSION = YES
#EXPAND_ONLY_PREDEF = YES
#PREDEFINED =

# Disabling dot speeds up running doxygen significantly
HAVE_DOT = NO
