This Voxie release already contains DBus (library and daemon, with Expat as
dependency), the OpenCL ICD loader, the HDF5 library and the required files
from Qt %QT_VERSION%.

The copyright information for the OpenCL ICD Loader is in
COPYING.opencl-icd-loader.txt, you can download the source code from
https://github.com/KhronosGroup/OpenCL-ICD-Loader/archive/%OPENCL_ICD_LOADER_COMMIT%.zip

The copyright information for Expat is in COPYING.expat.txt, you can download
the source code from %EXPAT_URL%

The copyright information for DBus is in COPYING.dbus.txt, you can download the
source code from %DBUS_URL%

The copyright information for HDF5 is in COPYING.hdf5.txt, you can download the
source code from %HDF5_URL%

The copyright information for Qt is in COPYING.qt.txt. The corresponding
sourcecode has been made available at %QT_URL_COPY% (originally from %QT_URL%)

The copyright information for Python is in COPYING.python.txt, you can download
the source code from %URL_PYTHON_SRC%
The copyright information for Numpy is in COPYING.numpy.txt, you can download
the source code from %URL_NUMPY_SRC%
The copyright information for the Python DBus bindings is in
COPYING.dbus-python.txt, you can download the source code from
%URL_PYTHON_DBUS_SRC%
The copyright information for the Python Imaging Library (Pillow) is in
COPYING.pillow.txt, you can download, the source code from
%URL_PILLOW_SRC%

The copyright information for Voxie itself can be seen in COPYING.txt, you can
download the source code from https://github.com/voxie-viewer/voxie/archive/%VOXIE_TAG%.tar.gz

This build is based on the git commit %VOXIE_COMMIT%.
