This Voxie release contains the HDF5 library. It requires DBus, OpenCL and Qt5
to be available.

The copyright information for HDF5 is in COPYING.hdf5, you can download the
source code from %HDF5_URL%

The copyright information for Voxie itself can be seen in COPYING, you can
download the source code from https://github.com/voxie-viewer/voxie/archive/%VOXIE_TAG%.tar.gz

This build is based on the git commit %VOXIE_COMMIT%.
